@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">Choose an action</h2>
    <a class="btn btn-primary">New expense</a>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Expenses">Browse</a>
</div>
